@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #8ecddd, #d2de32);
}

.entrance-animation {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: scale(0.1); 
   }
  100% {
    transform: scale(1); 
   }

}